### Import Data

In [5]:
import pandas as pd
dataset = pd.read_csv("../Dataset/buys_computer.csv")

### Data Understanding

In [6]:
dataset

    RID      age  income student credit_rating Class
0     1     <=30    high      no          fair    no
1     2     <=30    high      no     excellent    no
2     3  31...40    high      no          fair   yes
3     4      >40  medium      no          fair   yes
4     5      >40     low     yes          fair   yes
5     6      >40     low     yes     excellent    no
6     7  31...40     low     yes     excellent   yes
7     8     <=30  medium      no          fair    no
8     9     <=30     low     yes          fair   yes
9    10      >40  medium     yes          fair   yes
10   11     <=30  medium     yes     excellent   yes
11   12  31...40  medium      no     excellent   yes
12   13  31...40    high     yes          fair   yes
13   14      >40  medium      no     excellent    no

### Data Preparation

In [7]:
from sklearn.preprocessing import LabelEncoder
datasetAfter = dataset.apply(LabelEncoder().fit_transform)

In [8]:
datasetAfter

    RID  age  income  student  credit_rating  Class
0     0    1       0        0              1      0
1     1    1       0        0              0      0
2     2    0       0        0              1      1
3     3    2       2        0              1      1
4     4    2       1        1              1      1
5     5    2       1        1              0      0
6     6    0       1        1              0      1
7     7    1       2        0              1      0
8     8    1       1        1              1      1
9     9    2       2        1              1      1
10   10    1       2        1              0      1
11   11    0       2        0              0      1
12   12    0       0        1              1      1
13   13    2       2        0              0      0

In [9]:
datasetAfter.shape

(14, 6)

### Modelling Data

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
x = datasetAfter.drop(["Class"],axis=1)
y = datasetAfter["Class"]

In [13]:
print(x)

    RID  age  income  student  credit_rating
0     0    1       0        0              1
1     1    1       0        0              0
2     2    0       0        0              1
3     3    2       2        0              1
4     4    2       1        1              1
5     5    2       1        1              0
6     6    0       1        1              0
7     7    1       2        0              1
8     8    1       1        1              1
9     9    2       2        1              1
10   10    1       2        1              0
11   11    0       2        0              0
12   12    0       0        1              1
13   13    2       2        0              0

In [14]:
print(y)

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Class, dtype: int32

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=55)

In [16]:
x_train

    RID  age  income  student  credit_rating
1     1    1       0        0              0
3     3    2       2        0              1
9     9    2       2        1              1
11   11    0       2        0              0
5     5    2       1        1              0
8     8    1       1        1              1
7     7    1       2        0              1
10   10    1       2        1              0
13   13    2       2        0              0

In [17]:
x_test

    RID  age  income  student  credit_rating
12   12    0       0        1              1
4     4    2       1        1              1
2     2    0       0        0              1
6     6    0       1        1              0
0     0    1       0        0              1

In [18]:
y_train

1     0
3     1
9     1
11    1
5     0
8     1
7     0
10    1
13    0
Name: Class, dtype: int32

In [19]:
print(f'x_test shape{x_test.shape}')
print(f'x_train shape{x_train.shape}')

x_test shape(5, 5)
x_train shape(9, 5)

In [20]:
y_train.shape

(9,)

In [21]:
model = model.fit(x_train,y_train)

### Deployment

In [22]:
print(y_test)
y_pred = model.predict(x_test)
y_pred

12    1
4     1
2     1
6     1
0     0
Name: Class, dtype: int32

array([0, 1, 0, 1, 0])

### Accuracy Score

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6

In [24]:
prob = model.predict_proba(x_test)
prob.shape

(5, 2)

### Confussion Matrix

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred, y_test)

array([[1, 2],
       [0, 2]], dtype=int64)

### Classification Report

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.33      1.00      0.50         1
           1       1.00      0.50      0.67         4

    accuracy                           0.60         5
   macro avg       0.67      0.75      0.58         5
weighted avg       0.87      0.60      0.63         5